<p id="notice"><%= notice %></p>

<div class="P_MainTours">

  <th colspan="3"></th>

  <h1 class="A_H1">Сохраненные</h1>

  <%# @favourites.each do |favourite| %>
  <%#= link_to favourite.tour.title, "tours/#{favourite.tour.id}"  %>
  <%#= link_to 'Delete', favourite, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%# end %>

  <div class="O_Tours">

    <% @favourites.each do |favourite| %>

      <div class="Please">

        <%= link_to favourite do%>
          <div class="M_TourCard">

            <% if favourite.tour.cover.present? %>
              <div class="Q_Image">
                <%= image_tag favourite.tour.cover.card.url, class: "Q_Image"%>
              </div>
            <% end %>

            <div class="">
              <h2 class="A_H2"><%= favourite.tour.title %></h2>
            </div>

            <div class="">
              <h2 class="A_P1"><%= favourite.tour.description %></h2>
            </div>

            <div class="Save">

              <% if favourite.tour.favourites.where(user_id: 1).any? %>
                <%= link_to tours_add_to_favourite_path(tour_id: favourite.tour.id), method: :post do %>
                  <div class="Q_SaveOn"></div>
                <% end %>

              <% else %>
                <%= link_to tours_add_to_favourite_path(tour_id: favourite.tour.id), method: :post do %>
                  <div class="Q_SaveOff"></div>
                <% end %>
              <% end %>


            </div>
          </div>
        </div>
    <% end %>
    <% end %>
    </div>
  </div>

  <%= render 'application/footer' %>
