<p id="notice"><%= notice %></p>

<div class="P_MainTours">

  <th colspan="3"></th>

  <h1 class="A_H1">Сохраненные</h1>

  <div class="O_Tours">

    <% current_guide.favourite_tours.each do |tour| %>

      <div class="Please">

        <%= link_to tour do%>
          <div class="M_TourCard">

            <% if tour.cover.present? %>
              <p>
                <%= image_tag tour.cover.card.url%>
              </p>
            <% end %>

            <div class="">
              <h2 class="A_H2"><%= tour.title %></h2>
            </div>

            <div class="">
              <h2 class="A_P1"><%= tour.description %></h2>
            </div>

            <div class="">

              <% if tour.favourites.where(guide_id: current_guide.id).any? %>
                <%= link_to tours_add_to_favourite_path(tour_id: tour.id), method: :post do %>
                  <div class="Q_SaveOn"></div>
                <% end %>

              <% else %>
                <%= link_to tours_add_to_favourite_path(tour_id: tour.id), method: :post do %>
                  <div class="Q_SaveOff"></div>
                <% end %>
              <% end %>

            </div>

          </div>
        </div>
    <% end %>
    <% end %>
    </div>
  </div>
