<div class="P_Tour">

  <div class="A_H1">
    <p>Добавьте общую информацию</p>
  </div>
<%= form_with(model: tour, local: true) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
        <% tour.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'Название маршрута'%>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, 'Описание маршрута' %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image, 'Загрузите обложку' %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :city_id, 'Город' %>
    <%= form.collection_select :city_id, City.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :user_id, 'Гид' %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
