<p id="notice"><%= notice %></p>

<div class="P_MainTours">

  <div class="M_Header">
    <h1 class="A_H1">Популярные города</h1>
    <h4 class="A_H4"><%= link_to 'Смотреть все', cities_path%></h4>
  </div>

  <%= render 'application/citylist' %>

  <%= render 'application/tourlist' %>

  <%= render 'application/advert' %>

</div>

<%= render 'application/footer' %>
