<p id="notice"><%= notice %></p>

<div class="P_MainTours">


<h1 class="A_H1">Подборка: лучшие маршруты по миру</h1>
<div class="O_Tours">



    <% @tours.each do |tour| %>
    <%= link_to tour do%>
    <div class="Please">

        <div class="M_TourCard">
          <div class="">
              <%= image_tag(tour.image, style:'width:403px; height:237px;') if tour.image.attached?%>
          </div>
          <div class="">
            <h2 class="A_H2"><%= tour.title %></h2>
          </div>
          <div class="">
            <h2 class="A_P1"><%= tour.description %></h2>
          </div>
          <div class="">
            <td><%= link_to 'Нравится', tours_add_to_favourite_path(tour_id: tour.id), method: :post, class: "A_P1" %> |</td>
            <td><%= link_to 'Редактировать', edit_tour_path(tour), class: "A_P1" %></td>

          </div>


        <% end %>
        <% end %>



      </div>

    </div>





<br>

<%#= link_to 'New Service', new_service_path %>
</div>
</div>

<br>
