<div class="P_Tour">


<p id="notice"><%= notice %></p>

<div class="A_H1">
  <%= @guide.name %>
</div>

<p>
  <strong>О себе:</strong>
  <%= @guide.description %>
</p>

<p>
  <strong>Маршруты:</strong>
</p>
<% @guide.tours.each do |tour| %>
<p>
    <td><%= link_to tour.title, tour_path(tour) %></td>
</p>
<% end %>

<%= link_to 'Редактировать', edit_guide_path(@guide) %> |
<%= link_to 'Назад', guides_path %>

</div>
