<div class="P_Tour">


<p id="notice"><%= notice %></p>

<div class="A_H1">
  <%= @user.name %>
</div>

<p>
  <strong>О себе:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Маршруты:</strong>
</p>
<% @user.tours.each do |tour| %>
<p>
    <td><%= link_to tour.title, tour_path(tour) %></td>
</p>
<% end %>

<%= link_to 'Редактировать', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>

</div>
