<div class="P_Tour">
<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="A_H1">
    <h1>Создайте место</h1>
  </div>


  <div class="field">
    <%= form.label :title, 'Название места' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :image, 'Выберите фотографию' %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :description, 'Описание' %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :tour_id, 'Маршрут' %>
    <%= form.collection_select :tour_id, Tour.all, :id, :title, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :point_id %>
    <%= form.number_field :point_id %>
  </div>

  <div class="field">
    <%= form.label :user_id, 'Гид' %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
