<p id="notice"><%= notice %></p>
<div class="P_MainTours">
  <div class="A_H1">
    <h1>Лучшие места</h1>
  </div>

  <div class="O_Places">

    <div class="O_CityList">
      <% @places.each do |place| %>
      <div class="Please">

        <div class="M_TourCard">

          <%= link_to place do %>

          <% if place.cover.present? %>

          <div class="Q_Image">
            <%= image_tag place.cover.card.url, class: "Q_Image"%>
          </div>
          <% end %>

          <div class="">
            <h2 class="A_H2"><%= place.title %></h2>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
<%= render 'application/footer' %>
