<p id="notice"><%= notice %></p>

<div class="P_Tour">

  <% if @place.cover.present? %>
    <p>
      <%= image_tag @place.cover.url %>
    </p>
  <% end %>

  <p>
    <%= link_to @place.tour.title, tour_path(@place.tour) %>
  </p>

  <div class="A_H2">
    <%= @place.title %>
  </div>

  <%= link_to 'Редактировать', edit_place_path(@place) %>

  <div class="A_P1">
    <%= @place.description %>
  </div>

  <p>
    <div class="M_Photos">
      <% @place.place_images.each do |place_image| %>
        <% if place_image.image.present? %>
        <p>
          <%= image_tag place_image.image.list.url %>
        </p>
        <% end %>
    <% end %>
    </div>
</div>
