<p id="notice"><%= notice %></p>
<div class="P_Tour">
  <div class="A_H2">
     <%= @place.title %>
  </div>


<div>
  <%= image_tag(@place.image, style:'width:200px; height:200px') if @place.image.attached? %>
</div>

<div class="A_P1">


  <%= @place.description %>
</div>

<p>
  <strong>Маршрут:</strong>
  <%= link_to @place.tour.title, tour_path(@place.tour) %>
</p>

<td><%= link_to 'Редактировать', edit_place_path(@place) %> |</td>
<td><%= link_to 'Удалить', @place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
