<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Point:</strong>
  <%= @place.point_id %>
</p>

<p>
  <strong>Tour:</strong>
  <%= link_to @place.tour.title, tour_path(@place.tour) %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
