<!DOCTYPE html>
<html>
  <head>
    <title>JayApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <menu class="O_Menubar">
      <div class="M_ToMain">


      <%= link_to tours_path do %>
<div class="Q_Logo"></div>
<% end %>
<%= link_to 'Jay', tours_path, class: "A_Link"%>
</div>


<div class="M_Menu">


<%= link_to 'Весь мир', cities_path %>
        <%= link_to 'Исследуй', places_path %>
        <%= link_to 'Создать маршрут', new_tour_path%>
        </div>
        <%= link_to 'Профиль', guides_path%>


    </menu>

        <%= yield :breadcrumbs %>


    <%= yield %>
  </body>
</html>
